/* Chatbot CSS */

.open-button {
  background-color: #EDAA00;
  color: white;
  padding: 16px 20px;
  border: 1px solid white;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 15%;
  height:90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 200px;

}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  height: 90vh;
  right: 15px;
  border: 3px solid #f1f1f1;
  color: black;
  z-index: 9;
  overflow:auto;
  background-color: white;
}

/* Add styles to the form container */
/* this is where i changed the color of the ai box to black from white */
.form-container {
  
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  /* min-height: 200px; */
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .botbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 1.0;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #EDAA00;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* Footer CSS */
/* footer*/ 
footer{
  color:white;
  font-family: 'Lato', sans-serif;
  padding: 30px;
  margin: 0 auto;
  bottom: 0;
  /* padding-top:3rem; */
  left: 0;
  right: 0;
  height: auto;
  width: auto;
}

.input-group{
    width: 100%;
    height: auto;
}

.col-md-6, .col-md-3{
    width: 100%;
    margin: 0 auto;
    padding: 0 !important;
}

/* Phincho: tried to change the button's color */
.btn2{
  background-color:#EDAA00 !important;
  padding-left:2rem;
  padding-right:2rem;
  border-color: #EDAA00!important;
  border-radius: 200px;

}

.btn2:hover{
  opacity: 0.8;
}

footer a{
  color:white;
}

footer a:hover{
  color:white;
  text-decoration: underline;
}

footer img:hover{
      opacity: 0.7;
}

footer img{
  cursor: pointer;
}

/* Chat bubbles */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  height: 100px;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}