/* HOMEPAGE CSS */
.index{
    background: #B6E8F8;
}

#thenav{
    background: #00A010;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 15px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center; */
}

.fas{
    width: 30px;
    height: 30px;
}

#bottombar{
    background: #00A010;
    display: flex;
    justify-content: space-evenly;
    align-content: center;

    left: 0;
    right: 0;
    height: auto;
    width: auto;
}


#topicscards{
    background: #00A010;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 0;
    object-fit: cover;
    text-align: center;
}

.card-img-top{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* GAMES PAGE CSS */


/* LEARN MORE PAGE CSS */


/* SIGNUP OR LOGIN PAGE CSS */

/* Chatbot CSS */

.open-button {
  background-color: #EDAA00;
  color: white;
  padding: 16px 20px;
  border: 1px solid white;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 15%;
  height:90px;
  display: flex;
  align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 200px;

}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  color: black;
  z-index: 9;
}

/* Add styles to the form container */
/* this is where i changed the color of the ai box to black from white */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  /* min-height: 200px; */
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .botbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 1.0;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #EDAA00;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* Footer CSS */
/* footer*/ 
footer{
  color:white;
  font-family: 'Lato', sans-serif;
  
  bottom: 0;
  padding-top:3rem;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
}
/* Phincho: tried to change the button's color */
.btn2{
  background-color:#EDAA00 !important;
  padding-left:2rem;
  padding-right:2rem;
  border-color: #EDAA00!important;
  border-radius: 200px;

}

.btn2:hover{
  opacity: 0.8;
}

footer a{
  color:white;
}

footer a:hover{
  color:white;
  text-decoration: underline;
}

footer img:hover{
      opacity: 0.7;
}

footer img{
  cursor: pointer;
}