<html>
    <head>
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="../static/css/style.css?q={{time}}">
    </head>
    <body>
        <div class="centerlogin">
            <div class="container_login">
                <a href="/index" style="color:#B6E8F8" class="loginlogoredirect"><h2>Welcome Back to FinKids!</h2></a>
                <form class="loginform" action="/login" method="POST">
                    <label for="name" class="formtext">Name</label>
                    <input type="text" name="username" class="formbox">
                    <label for="password" class="formtext">Password</label>
                    <input type="password" name="password" class="formbox">
                    <input type="submit" value="Login" class="formbox loginbox">
                </form>
            </div>
        </div>
        <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/dmitri13" title="dmitri13">dmitri13</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
        <div class="area" >
            <ul class="circles">
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
            </ul>
        </div>
    </body>
</html>