<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="../static/css/style.css?q={{time}}">
    </head>
    <body>
        <div class="centerlogin">
            <div class="container_login">
                <form class="loginform" action="/login" method="POST">
                    <label for="name" class="formtext">Name</label>
                    <input type="text" name="username" class="formbox">
                    <label for="password" class="formtext">Password</label>
                    <input type="password" name="password" class="formbox">
                    <input type="submit" value="Login" class="formbox loginbox">
                </form>
            </div>
        </div>
        <div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
        </div>
    </body>
</html>