<html>
    <head>
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="../static/css/style.css?q={{time}}">
    </head>
    <body>
        <div class="centersignup">
            <div class="container_signup">
                <form class="signupform" action="/signup" method="POST">
                    <label for="name" class="formtext">Name</label>
                    <input type="text" name="username" class="formbox">
                    <label for="password" class="formtext">Password</label>
                    <input type="password" name="password" class="formbox">
                    <input type="submit" value="Sign Up" class="formbox signupbox">
                </form>
                <div class="logininstead"><a href="/login"style="color:white">Already have an account? Login Here</a></div>
            </div>
        </div>
        <div class="area" >
            <ul class="circles">
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
                    <li><img class="circles" src="../static/images/blue dollar sign.svg" alt="Blue Dollar Sign"></li>
            </ul>
        </div>
    </body>
</html>